{% extends 'home.html' %}
{% block MainContainer %}
<div class="container">
  <div class="row">
    <!--<div class="col-sm-4">-->
      <!--<h2>用例管理</h2>-->

      <!--<ul class="nav nav-pills nav-stacked">-->
        <!--<li class="active"><a href="#">UI自动化</a></li>-->
          <!--<li><a href="#">接口自动化</a></li>-->
          <!--<li><a href="#">手工测试</a></li>-->
        <!--&lt;!&ndash;<li class="active"><a href="#">附加测试权限</a></li>&ndash;&gt;-->

      <!--</ul>-->
      <!--<hr class="hidden-sm hidden-md hidden-lg">-->
    <!--</div>-->
    <div class="col-sm-32">
      <h2>用例详情</h2>
      <h5 id="warehouse"></h5>
      <h5 id="user"></h5>
            <button type="button" class="btn btn-primary">执行用例</button>
            <button type="button" class="btn btn-primary" data-target="#createcase" data-toggle="modal">新增用例</button>
            <button type="button" class="btn btn-danger">删除用例</button>
        <div style="height='500px'">
        <table class="table table-hover">
        <caption>用例列表</caption>
        <thead>
            <tr>
                <th>请选择</th>
                <th>编号</th>
                <th>系统</th>
                <th>类型</th>
                <th>标题</th>
                <th>详情</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody  id="casedetail">
        </tbody>
    </table>
            </div>
    </div>
  </div>
</div>
<div class="modal fade" id="createcase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增用例</h4>
            </div>
            <div class="modal-body">

    <form class="bs-example bs-example-form" role="form" id="insertcase">
        <div class="input-group">
            <span class="input-group-addon">选择系统:</span>
            <select class="form-control" id="selectsyetem">
    </select>
        </div>
        <br>
            <div class="input-group">
            <span class="input-group-addon">用例类型:</span>
            <select class="form-control" id="selectcasetype">
    </select>
        </div>
        <br>
            <div class="input-group">
            <span class="input-group-addon">用例标题:</span>
            <input type="text" class="form-control" id="memberID" placeholder="用例标题" value="">
        </div>
        <br>
            <div class="input-group">
            <span class="input-group-addon">用例详情:</span>
            <!--<input type="text" class="form-control" placeholder="操作步骤-预期结果" value="" id="membername">-->
                <!--<lable for="name">用例详情:</lable>-->
                <textarea class="form-control" rows="8" placeholder="操作步骤-预期结果"></textarea>
        <!--</div>-->
        <!--<br>-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-addon">创建人:</span>-->
            <!--<input type="text" class="form-control" placeholder="创建人" value="" id="memberno">-->
        <!--</div>-->
</div>
    </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"   name="insertwarehouse">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% endblock %}