{% extends 'home.html' %}
{% block MainContainer %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>用例管理</h2>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">UI自动化</a></li>
          <li><a href="#">接口自动化</a></li>
          <li><a href="#">手工测试</a></li>
        <!--<li class="active"><a href="#">附加测试权限</a></li>-->

      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>

    <div class="col-sm-8">
      <h2>用例详情</h2>
      <h5>#</h5>
        <form action="/star_test" method="post">
            <button type="submit" class="btn btn-primary">执行用例</button>
            <button type="button" class="btn btn-primary">新增用例</button>
            <button type="button" class="btn btn-danger">删除用例</button>
        <table class="table table-hover">
        <caption>用例列表</caption>
        <thead>
            <tr>
                <th>请选择</th>
                <th>系统</th>
                <th>流程</th>
                <th>创建人</th>
            </tr>
        </thead>
        <tbody>
        {% for valu in values %}
            <tr>
                <td><input type="radio" name="detail " value={{valu}}></td>

                    <td>WMS内用版</td>
                    <td>{{valu}}</td>
                    <td>zoutao</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        </form>
    </div>
  </div>
</div>
{% endblock %}