<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置信息</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="col-sm-8">
<h2>配置信息</h2>
      <h5>脚本自动匹配选择的仓库会员</h5>
        <form action="/changeconfig" method="post">
            <button type="submit" class="btn btn-primary">切换仓库</button>
            <button type="button" class="btn btn-primary">新增仓库</button>
            <button type="button" class="btn btn-danger">删除配置</button>
            <button type="button" class="btn btn-primary">附加权限</button>
            <button type="button" class="btn btn-danger">数据配置</button>
            <button type="button" class="btn btn-danger">策略配置</button>

        <table class="table table-hover">
        <caption>现有测试仓库</caption>
        <thead>
            <tr>
                <th>请选择</th>
                <th>仓库ID</th>
                <th>仓库名</th>
                <th>会员ID</th>
                <th>会员名</th>
                <th>会员号</th>
                <th>环境</th>
            </tr>
        </thead>
        <tbody>
        {% for valu in values %}
            <tr>
                <td><input type="radio" name="detail " value={{valu[0]}};{{valu[2]}}></td>
                {% for v in valu %}

                    <td>{{v}}</td>
                {%endfor%}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </form>
         </div>
</body>
</html>