<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>云平台测试控制台</title>
    <meta charset="UTF-8">
 <!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
  <link href="/static/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon" />
  <!--<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/static/jquery-3.5.1.min.js"></script>
  <!--<script src="/static/jquery.pagination.js"></script>-->

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/cloudtest.js" charset="utf-8"></script>
<script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
  <script src="/static/CodeSeven-toastr/toastr.js"></script>
  <script src="/static/bootstrap-table/dist/bootstrap-table.min.js"></script>
  <script src="/static/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>





<!-- Latest compiled and minified CSS -->

</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>云平台测试控制台</h1>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./home">云平台测试控制台</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="./configmanage">仓库会员配置</a></li>
        <li><a href="./casemanage">测试用例</a></li>
        <li><a href="./reportmanage">测试报告</a></li>
        <li><a href="./taskconfig">任务配置</a></li>
        <li><a href="./develop">开发辅助功能</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block MainContainer %}{% endblock %}

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>只限测试和开发使用</h1>
</div>


</body>
</html>